{% extends "base.html" %}
{% block content %}
<div class="container">
  <h4 class="teal-text">WELCOME TO PHOTOAPP! &#128640;</h4>
</div>

<div class="row divider"></div>

<div class="row">

    <div class="col s12 m4">
        <a href='/profile' class="waves-effect waves-light btn-large" style="width: 100%;">
            <i class="material-icons right">person_pin</i>Profile</a>
    </div>

    <div class="col s12 m4">
        <a href='/home' class="waves-effect waves-light btn-large" style="width: 100%;">
            <i class="material-icons right">auto_graphs</i>Dashboard</a>
    </div>

</div>

 {% endblock %}
